.num {
    visibility: visible;
    width: 10vw;
    height: 10vw;
    font-size: 10vw;
    border-color: black;
    text-align: center;
    text-shadow: 1vw 0.1vw;
    color: white;
}

.num:hover {
    border-color: white;
}

body {
    display: flex;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: orange;
}

#box3 {
    background-color: yellow;
}

#box4 {
    background-color: green;
}

#box5 {
    background-color: blue;
}