.num {
    width: 5vw;
    height: 5vw;
    /* font-size: 8vw; */
    border-color: black;
    text-align: center;
    background-color: orange;
}

.num:hover {
    border-color: white;
}

body {
    display: flex;
}
