.num {
    visibility: visible;
    width: 10vw;
    height: 10vw;
    font-size: 10vw;
    border-color: black;
    text-align: center;
}

.num:hover {
    border-color: white;
}

body {
    display: flex;
}

#box1 {
    background-color: rgb(255, 0, 0);
}

#box2 {
    background-color: orange;
}

#box3 {
    background-color: yellow;
}

#box4 {
    background-color: rgb(0, 255, 0);
}

#box5 {
    background-color: rgb(0, 238, 255);
}