body {
    display: flex;
}

button {
    width: 10vw;
    height: 10vw;
    font-size: 10vw;
    border-color: black;
    /* flex-wrap: wrap; */
    text-align: center;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: orange;
}

#box3 {
    background-color: yellow;
}

#box4 {
    background-color: green;
}

#box5 {
    background-color: blue;
}