.num {
    width: 10vw;
    height: 10vw;
    font-size: 10vw;
    border-color: black;
    text-align: center;
    background-color: white;
}

.num:hover {
    border-color: white;
}

body {
    display: flex;
}
